.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p {
  margin-bottom: 20px;
  color: #b5cbbf;
}

.hero-img {
  width: 300px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    margin-top: 40px;
  }
}