.products {
  padding: 60px 0;
}

.products h2 {
  margin-bottom: 40px;
  left: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: #142821;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card img {
  width: 120px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}